.item {
  position: absolute;
  width: 280px;
  box-sizing: border-box;
}

.can {
  width: 100%;
  height: 884px;
  position: fixed;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  padding: 0 0 0 0;
  box-sizing: border-box;
  top: 66px;
  left: 221px;
  background-color: #f0f3f4;
}
